*

!dockerfile
!repeater/
!repeater/**
!companion_client/
!companion_client/**
!pyproject.toml
!README.md
!LICENSE
!config.yaml.example
!radio-presets.json
!radio-settings.json
!docker-entrypoint.sh

**/__pycache__/
**/*.py[cod]
**/.DS_Store
