#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=openhop-repeater
export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# The package build skips the hardware-dependent project test suite.

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/
	rm -rf *.egg-info/
	rm -rf .pybuild/
	rm -f repeater/_version.py
